html {
  font-family: system, -apple-system, system-ui, Roboto, "Seogue UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  font-style: normal;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

nav {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: black;
  z-index: 1;
}

nav a {
  padding-right: 10px;
}

h1 {
  font-size: 2rem;
  font-weight: 500;
}

h2 {
  margin-top: 3rem;
  font-weight: 500;
}

h3 {
  margin-top: 2rem;
}

a {
  color: #007ae6;
}

p {
  line-height: 24px;
}

p li {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  margin: 0 0 1.5rem;
  color: rgba(0,0,0,1);

  font-family: system, -apple-system, system-ui, Roboto, "Seogue UI", "Helvetica Neue", "Lucida Grande", sans-serif;
  font-style: normal;
  box-sizing: border-box;
}

li{
  margin: 10px 0;
  line-height: 24px;
}

label {
  display: block;
  font-size: 1rem;
  font-weight: 500;
  padding: .667rem 0 .333rem;
  line-height: 1.25;
  margin-bottom: .375rem;
}

input {
  border: 1px solid #ccc;
  vertical-align: top;
  padding: .1875rem .5rem;
  font-size: 16px;
  line-height: 1.5rem;
  border-radius: 0;
  display: block;
  width: 100%;
  background: #fff;
  box-sizing : border-box;
  margin-bottom: 10px;
}

button {
  font-size: 16px;
  font-weight: 400;
  height: 2em;
  line-height: 1;
  padding: 0 .75em;
  margin: 1rem 0;
  background: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
}

button[disabled] {
  color: #ccc;
  border-color: #eee;
  cursor: progress;
}

.links {
  padding-top: 20px;
}

.links a {
  color: #fff;
}

.text-center {
  text-align: center;
}

.author {
  padding: 25px 0;
}

.help-block {
  font-size: .75rem;
  color: #666;
}
.help-block.error {
  color: #d00;
}

.container {
  padding: 0 5px 50px;
  max-width: 600px;
  margin: 100px auto 0;
  border-bottom: 1px solid #ccc;
}

html:lang(en) .container {
  /* margin: 0 auto 0; */
}

.footer {
  padding: 25px 5px 50px;
  max-width: 600px;
  margin: 0 auto;
}

.logo {
  max-width: 200px;
}

pre {
  padding: 10px;
}

code {
  padding: 2px;
}

pre, code {
  background: #f5f5f5;
  font-size: 14px;
  font-weight: 300;
  overflow: auto;
}

.error {
  color: red;
}

.box {
  border: 1px solid #ddd;
  background: rgba(255, 221, 0, 0.2);
  padding: 10px;
}

#map {
  margin: 58px auto 0;
  height: 400px;
}

.validators.container {
  max-width: 800px;
}

.validators.container h2 {
  margin-top: 6rem;
}

.stats {
  font-size: 0.9em;
}

.stats dt {
  text-transform: capitalize;
  font-weight: bold;
}

.stats dd {
  margin-left: 28px;
}

.stats dd .stat-value {
  font-weight: bold;
  margin-right: 20px;
}

.all-table {
  width: 100%;
}

.all-table {
  border-color: white;
}

.all-table thead th {
  color: white;
  background-color: #454545;
  font-size: 0.8em;
  padding: 0.6em 0;
  border: 1px solid white;
  border-width: 0 0 0 1px;
}
.all-table thead th:first-child {
  border-left-width: 0;
}

.all-table tbody td {
  text-align: center;
  font-size: 0.8em;
  padding: 0.6em 0;
  border: 1px solid gray;
  border-width: 0 0 1px 1px;
}

.all-table tbody tr td:last-child {
  border-right-width: 1px;
}

.all-table tbody tr:hover {
  background-color: #ddd;
}
